.container {
  margin: 50px auto;
  width: 200px;
  background-color: #ff9;
  border: 2px solid black;
}

.react-input-tags {

}

.react-input-tags input {
  border-style: none;
  outline: none;
}

.react-input-tags-taglist {
  /* flex-wrap ? */
}

.react-input-tags-tag {
}
