.container {
  width: 250px;
  margin: 50px auto;
  background-color: #ff9;
  border: 2px solid black;
  font-family: BlinkMacSystemFont;
  font-size: 14px;
}

.react-input-tags {
  display: flex;
  flex-wrap: wrap;
}

.react-input-tags input {
  border-style: none;
  outline: none;
  /* input element does * not * inherit font styling by default */
  font-family: inherit;
  font-size: inherit;
}

.react-input-tags-tag {
  background-color: #fdf;
}

.react-input-tags-suggestionlist {
  position: absolute;
}

.react-input-tags-suggestion {
  padding: 5px;
}
