.react-input-tags-input-tags {
  max-width: 200px;
}

.react-input-tags-input input {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* input element does * not * inherit font styling by default */
  font-family: inherit;
  font-size: inherit;
}

.react-input-tags-tag {
  word-wrap: break-word;
  background-color: black;
  color: white;
}

.react-input-tags-tag textarea {
  resize: none;
}

.react-input-tags-suggestion-list {
  position: absolute;
}

.react-input-tags-suggestion {
  cursor: pointer;
}

.react-input-tags-suggestion.highlighted {
  background-color: lightgray;
  color: black;
}

.react-input-tags-suggestions-loader {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid grey;
  border-top: 2px solid black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
