input {
  /* input element does * not * inherit font styling by default */
  font-family: inherit;
  font-size: inherit;
}

span {
  word-wrap: break-word;
  background-color: darkgrey;
  color: black;
}

textarea {
  resize: none;
}

ul {
  position: absolute;
}

li {
  cursor: pointer;
}

li.highlighted {
  background-color: lightgray;
  color: black;
}
