.container {
  max-width: 300px;
  margin: 50px auto;
  background-color: #ff9;
  border: 2px solid black;
  font-family: BlinkMacSystemFont;
  font-size: 14px;
}

.react-input-tags-tagsinput {
  max-width: 300px;
  margin: 50px auto;
  background-color: lightblue;
}

.react-input-tags input {
  /*
  border-style: none;
  outline: none;
  */
  /* input element does * not * inherit font styling by default */
  font-family: inherit;
  font-size: inherit;
  /* TODO: make this not overflow, textarea? */
}

.react-input-tags-tag {
  word-wrap: break-word;
  background-color: #fdf;
}

.react-input-tags-suggestionlist {
  position: absolute;
}

.react-input-tags-suggestion {
  padding: 5px;
  cursor: pointer;
}
